form{
    margin: 20%;
}
form label{
    font-size: 13px;
}
form ul {
    display: block;
    border: white;
    height: 30px;
    border-radius: 5px;
    color: white;
    background-color: white;
    
}
form ul li ul{
    display: none;
    position: absolute;
    background-color: white;
    list-style: none;
    padding-top: 15px;
    padding-left: 0px;
    border-radius: 5px;
    width: 18%;
    height: 10%;
}
form ul li {
    background-color: white
   
}
form ul li ul li {
    display: flex;
    background-color: white;
    color: black;
    justify-content: space-between;
    height: 100%;
    padding: 10px;
}
form ul li ul li p{
    width: 100%;
    font-size: 15px;
    background-color: white;

}
form ul li:hover > ul{
  display:block ;
  background-color: white;

}
form ul li ul li input{
    width: 10%;
    height: 20px;

}

form input{
    border: white;
    height: 30px;
    width: 100%;
    border-radius: 5px;
    color: #F36921;

}

.textArea{
    width: 100%;
    height: 100px;
}
.divGris{
    background-color: #cfcfcf;
    width: 100%;
    margin: 15px 0px;
}
.pBlanco{
    background-color: #dbbeff;
    color: #87759d;
    font-weight: 600;
}
.botones{
    display: flex;
    justify-content: end;
}
.botones button{
    color: white;
    border: 3px solid #F36921;
    border-radius: 10px;
    width: 180px;
    height: 60px;
    font-size: 21px;
    font-weight: 600;
    background-color:#F36921 ;
}

@media only screen and (max-width:577px)
{
    .botones{
        display: flex;
        justify-content: center;
    }
    form input,select{
        border: white;
        height: 35px;
        width: 100%;
        border-radius: 5px;
        color: #F36921;
    
    }

    form ul li ul{
        display: none;
        position: absolute;
        background-color: white;
        list-style: none;
        padding-top: 15px;
        padding-left: 0px;
        border-radius: 5px;
        width: 50%;
        height: 10%;
    }
    form ul li ul li{
        
    height: 75%;
    }

}  