form{
    margin: 20%;
}
form label{
    font-size: 13px;
}
form input{
    border: white;
    height: 30px;
    width: 100%;
    border-radius: 5px;
}

.textArea{
    width: 100%;
    height: 100px;
}
.divGris{
    background-color: #cfcfcf;
    width: 100%;
    margin: 15px 0px;
}
.pBlanco{
    background-color: #dbbeff;
    color: #87759d;
    font-weight: 600;
}
.botones{
    display: flex;
    justify-content: space-around;
}
.botones button{
    color: white;
    border: 3px solid #d6906b;
    border-radius: 10px;
    width: 100px;
    height: 40px;
    font-size: 15px;
    font-weight: 600;

}