.contacto{
    display: flex;
    padding-top: 5%;
    background-color: #dbbeff;
}
.izq{
    width: 30%;
    margin-left: 20%;
}
.izq img{
    
    width: 50%;
    height: 36%;

}
.izq h3{
    color:#f40022 ;
    font-size: 45px;
    margin-bottom: 15px;
    margin-left: 15px ;
}

.red{
    display: flex;
}
.red a{
    text-decoration: none;
    color: white;
    margin-top: 3%;

}
.red img{
    width: 80px;
    height: 80px;
    border-radius: 100%;
    margin: 5px;
}
.red p{
    
    width: auto;
    margin-top: 3%;
    font-size: 25px;
    font-weight: 600;
    color: black;
}
.formulario{
    display: block !important;
    width: 30%;
    margin-right: 20%;
}
footer{
    margin-top: 10%;
    display: flex;

}
footer div{
    width: 50%;

}
footer h5{
    font-size: 18px;
    color: white;
}
footer p{
    font-size: 15px;

    color:#87759d;
}
.divNaranja{
    width: 100%;
    margin: 15px 0px;
}
.pNaranja{
    color:#d6906b
}

