.navbar {
    height: 80px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: #fff;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
}

.navbar-logoD {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 80px;
}

.navbar-logo-imgD{
    width: 100%;
}

.navbar-logoM {
    display: none;
}
.navbar-logo-img{
    width: 100%;
}

.navbar-links{
    display: flex;
    flex-direction: row;
    gap: 15px;
}

.navbar-link a {
    text-decoration: none;
    color: #000;
    font-size: 1.7rem;
    font-weight: 900;
}

.navbar-link{
    color: white;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    padding: 10px;
}

@media screen and (max-width: 800px) {

    .navbar {
        width: 100%;
    }

    .navbar-logoD {
        display: none;
    }

    .navbar-logoM {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    .navbar-logo-imgM{
        width: 100%;
        height: 80px;
    }

    .navbar-links{
        display: none;
    }

}